* { margin: 0; padding: 0; box-sizing: border-box; }

.background-example {
    background-color: burlywood;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 800px auto;
    height: 600px;
    color: white;
}

.content {
    font-size: 200px;
    margin: 0 auto;
    text-align: center;
}