* { margin: 0; padding: 0; box-sizing: border-box; }

.background-example {
    background-color: lightblue;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 800px auto;
    height: 800px;
    color: white;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    padding: 50px;
    font-size: 200px;
    font-weight: bold;
}

/*
.wrapper {
    background-color: black;
}
*/