/* 👩‍💻 상품 목록 */
.container-lg {
    width: var(--container-lg-size);
    margin: 0 auto;
    position: relative;
}

.detail-area {
    display: flex;
    justify-content: flex-start;
    column-gap: 100px;
    padding: 100px 20px;
}



/* ======================== snb ======================== */
.snb {}
.snb ul { 
    border: 1px solid var(--main-color);
    padding: 40px;
}
.snb ul li { margin: 14px 0;}

.snb ul li.active { font-weight: bold; }

/* ======================== snb ======================== */

/* ======================== 상품 목록 영역 ======================== */
.product-box {
    min-width: 1100px;
}
/* ======================== 상품 목록 영역 ======================== */

/* ======================== 검색/필터 ======================== */
.search-filter { 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.search-filter input {
    padding: 10px;
    border: 1px solid var(--main-color);
    outline: none;
    font-size: 16px;
}
.btn-search {
    background-color: transparent;
    border: none;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
}

.dropdown {}
.dropdown {}
.dropdown > li { 
    min-width: 140px;
    height: 40px;
    border: 1px solid var(--main-color);
    padding: 6px 16px;
    position: relative;
}
.dropdown > li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.dropdown li:hover .submenu { display: inherit; }

.dropdown .submenu { 
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
}
.dropdown .submenu li {
    min-width: 140px;
    border: 1px solid var(--sub-color);
    border-bottom: 0;
    padding: 6px 16px;
    background-color: white;
}

.dropdown .submenu li:last-of-type {
    border-bottom: 1px solid var(--sub-color);
}

.dropdown .submenu li a {}
/* ======================== 검색/필터 ======================== */




/* ======================== 상품목록 ======================== */
.product-list {}
.product-list .inner {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10px;
    row-gap: 20px;
}
.product-list .product-card {}
.product-list .product-card .img-box {}
.product-list .product-card .img-box img { 
    width: 100%; 
    max-height: 360px;
    object-fit: cover;
}

.product-list .product-card .content-box {}
.product-list .product-card .content-box .price {
    padding: 5px 0;
}
.product-list .product-card .content-box .price h3 {}
.product-list .product-card .content-box .price .n-price {
    text-decoration: line-through;
    color: #aaa;
}
.product-list .product-card .content-box .price .d-price {
    color: #FC466B;
}
.product-list .product-card .content-box .price .discount {
    display: inline-block;
    background-color: #FC466B;
    color: white;
    padding: 2px 4px;
    border-radius: 5px;
    font-size: 12px;
}
.product-list .product-card .content-box .title {}
.product-list .product-card .content-box .title h3 {
    word-break: keep-all;
}

.product-list .product-card .option-box {
    padding: 10px 0;
}
.product-list .product-card .option-box .color {}
.color span { 
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: gray;
}
.color .option-red { background-color: #FC466B;}
.color .option-green { background-color: #21ff21;}
.color .option-blue { background-color: #3F5EFB; }

.size { padding: 10px 0; }
.size .option-size {
    display: inline-block;
    padding: 4px 8px;
    background-color: #aaa;
    color: white;
    font-size: 10px;
}

.size .option-size.active {
    background-color: var(--sub-color);
}

.product-list .product-card .action-box {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.product-list .product-card .action-box i {
    font-size: 24px;
    color: #212121;
}
.product-list .product-card .action-box .review {}
.product-list .product-card .action-box .action {
    display: flex;
    column-gap: 10px;
}

/* ======================== 상품목록 ======================== */

/* ======================== 페이지 네비게이션 ======================== */
.pagination {
    display: flex;
    justify-content: center;
    /* 👩‍💻 TODO  */
    padding-top: 100px;
}
.pagination ul {
    display: flex;
}
.pagination .page {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    margin: 0 3px;
    color: var(--sub-color);
}

.pagination .page:hover,
.pagination .page:focus,
.pagination .page.active
{
    background-color: var(--sub-color);
    color: white;
}

.pagination .page a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: inherit;
}
/* ======================== 페이지 네비게이션 ======================== */



/* ======================== 상품목록 (반응형) ======================== */
/* 👩‍💻 TODO : 반응형  */
/* ~1400px */
@media screen and (max-width: 1400px) {
    .container,
    .container-lg {
        width: 100%;
    }
    .detail-area { column-gap: 10%; }
    /* .snb { width: 30%; } */
    /* .product-box 에 고정 크기 min-width: 1100px; 이 걸려있음. */
    .product-box { width: 60%; min-width: auto; }
    .product-list .inner { grid-template-columns: repeat(3, auto); }
}

/* ~1280px */
@media screen and (max-width: 1280px) {
    .product-list .product-card {
        padding: 20px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
        border-radius: 10px;
        border: 1px solid #eee;
    }
    .snb { display: none; }
    .product-box { width: 100% }
    .product-list .inner { grid-template-columns: repeat(2, auto); }
}

/* ~720px */
@media screen and (max-width: 720px) {
    .product-list .product-card .img-box img {
        object-fit: contain;
    }
    .product-list .inner { grid-template-columns: repeat(1, auto); }
}

/* ======================== 상품목록 (반응형) ======================== */


